#movie_player {
    --auto-speed-gradient-from: rgba(0, 0, 0, 0.5);
    --auto-speed-gradient-to: rgba(0, 0, 0, 0.95);
    --auto-speed-bar-height: 1.75rem;
    --auto-speed-bar-stroke: 1px;

    .auto-speed-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3.75rem;
        z-index: 2147483647;
        pointer-events: none;
    }

    .auto-speed-status {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        height: calc(
            var(--auto-speed-bar-height) -
            var(--auto-speed-bar-stroke)
        );
        align-items: stretch;
        gap: 1rem;
        border-radius: 0 0 0 calc(var(--auto-speed-bar-height) / 2);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: "Roboto", "Arial", sans-serif;
        transition:
            background-color 0.15s ease,
            border-radius 0.15s ease;
        font-weight: 500;
        line-height: normal;
        pointer-events: auto;
        touch-action: none;
        user-select: none;
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: row;
        justify-content: center;

        .auto-speed-badge,
        .auto-volume-badge,
        .auto-speed-time-saved {
            display: grid;
            place-items: center;
        }

        .auto-speed-time-saved--hidden {
            display: none;
        }

        .auto-speed-badge--inactive {
            color: #737373;
        }
    }

    .auto-speed-chart {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition:
            opacity 0.15s ease,
            border-top 0.15s ease,
            border-bottom 0.15s ease;
        border-top: 0 solid var(--auto-speed-gradient-from);
        border-bottom: var(--auto-speed-bar-height) solid transparent;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        background-repeat: no-repeat;
    }

    &:not(.ytp-autohide),
    &.paused-mode .auto-speed-overlay:hover,
    &.auto-speed-always-chart {
        .auto-speed-chart {
            opacity: 1;
        }

        .auto-speed-status {
            background-color: transparent;
            border-radius: 0 0 0 0;
        }

        .auto-speed-chart {
            border-top: var(--auto-speed-bar-height) solid
                var(--auto-speed-gradient-from);
            border-bottom: 0 solid transparent;
        }
    }
}
