#movie_player {
    --auto-speed-gradient-from: rgba(0, 0, 0, 0.5);
    --auto-speed-gradient-to: rgba(0, 0, 0, 0.95);
    --auto-speed-bar-height: 1.75rem;
    --auto-speed-bar-stroke: 1px;

    .auto-speed-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3.75rem;
        z-index: 2147483647;
        pointer-events: none;
    }

    .auto-speed-status {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        height: calc(
            var(--auto-speed-bar-height) -
            var(--auto-speed-bar-stroke)
        );
        align-items: stretch;
        gap: 0.5rem;
    }

    .auto-speed-badge {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0 0 0 calc(var(--auto-speed-bar-height) / 2);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: normal;
        pointer-events: auto;
        user-select: none;
        display: grid;
        place-items: center;
        transition:
            background-color 0.15s ease,
            border-radius 0.15s ease;
        touch-action: none;
    }

    .auto-speed-time-saved {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border-radius: 0 0 calc(var(--auto-speed-bar-height) / 2)
            calc(var(--auto-speed-bar-height) / 2);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-family: "Roboto", "Arial", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: normal;
        pointer-events: auto;
        user-select: none;
        display: grid;
        place-items: center;
        transition:
            background-color 0.15s ease,
            border-radius 0.15s ease;
        touch-action: none;
    }

    .auto-speed-time-saved--hidden {
        display: none;
    }

    .auto-speed-badge--inactive {
        color: #737373;
    }

    .auto-speed-chart {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition:
            opacity 0.15s ease,
            border-top 0.15s ease;
        border-top: 0 solid var(--auto-speed-gradient-from);
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        background-repeat: no-repeat;
    }

    .auto-speed-overlay:hover {
        .auto-speed-chart {
            opacity: 1;
        }

        .auto-speed-badge,
        .auto-speed-time-saved {
            background-color: transparent;
            border-radius: 0 0 0 0;
        }

        .auto-speed-chart {
            border-top: var(--auto-speed-bar-height) solid
                var(--auto-speed-gradient-from);
        }
    }
}
